# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
*.egg-info/
dist/
build/
.freebuff/
